<form id="discount-form" method="post">
    {{ form.media }}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errorss %}
    <p class="bg-danger">{{ error }}</p>
    {% endfor %}
    {% endif %}
    {% for field in form %}
    {% if field.is_hidden %}
    {{ field }}
    {% else %}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="bg-danger">{{ error }}</p>
    {% endfor %}
    {% endif %}
    <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
    </div>
    {% endif %}
    {% endfor %}
    <input type="submit" id="discount-submit" class="btn btn-primary btn-md" value="Create code"/>
</form>