{% extends 'main/base_template.html' %}
{% block title %}Test Shop | Choose User{% endblock %}
{% block body %}
{% url 'users' as url %}
<div class="row">
    <div class="col-sm-10">
{% include 'main/search_form.html' with form=search_form %}
    </div>
    <div class="col-sm-2">
        {% include 'main/order_dropdown.html' with order1='Username' order2='Registration date - New' order3='Registration date - Old' %}
    </div>
</div>
<div class="list-group">
    <div class="list-group-item list-group-item-info row">
        <div class="col-sm-3">Username</div>
        <div class="col-sm-3">Email</div>
        <div class="col-sm-3">First Name</div>
        <div class="col-sm-3">Last Name</div>
    </div>
    {% for u in users_list %}
  <a href="{% url 'products' u.id %}" class="list-group-item row">
      <div class="col-sm-3">{{ u.username }}</div>
      <div class="col-sm-3">{{ u.email }}</div>
      <div class="col-sm-3">{{ u.first_name }}</div>
      <div class="col-sm-3">{{ u.last_name }}</div>
  </a>
    {% empty %}
    <div class="list-group-item-row">
        <p class="lead text-center">There's no users yet.</p>
    </div>
    {% endfor %}
</div>

{% include 'main/pagination.html' with page=page_obj %}




{% endblock %}