{% extends 'main/base_template.html' %}
{% load staticfiles %}
{% block title %}Test Shop | Choose Product{% endblock %}
{% block head %}
<script src="{% static 'js/js.cookie.js' %}"></script>
{% endblock%}
{% block body %}
{% url 'products' user_id as url %}
<div class="row">
    <div id="msg-placeholder" class="col-sm-12">

    </div>
</div>
<div class="row">
    <div class="col-sm-10">
{% include 'main/search_form.html' with form=search_form %}
    </div>
    <div class="col-sm-2">
        {% include 'main/order_dropdown.html' with order1='Product Name' order2='Price - From high to low' order3='Price - From low to high' %}
    </div>
</div>
<div id="products">
{% for p in products_list %}
{% with counter=forloop.counter0 %}
{% if forloop.first %}
<div class="row">
{% elif counter|divisibleby:4 %}
</div>
<div class="row">
    {% endif %}

    <div class="col-sm-3">
        <div class="panel panel-default">
  <div class="panel-body">
      <p class="lead text-center">{{ p.name }}</p>
        <p>{{ p.description|truncatechars:100 }}</p>
      <p><strong>Price:</strong> {{ p.price }}$</p>
      <button type="button" class="btn btn-default btn-block" data-id="{{ p.id }}">Add Discount Code</button>
  </div>
        </div>
    </div>
    {% if forloop.last %}
</div>
{% endif %}
{% endwith %}
    {% empty %}
    <div class="row">
    <div class="col-sm-12">
        <p class="text-center lead">There's no products yet.</p>
    </div>
</div>
{% endfor %}
</div>

{% include 'main/pagination.html' with page=page_obj %}

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create discount code</h4>
      </div>
      <div id="modal-body" class="modal-body">
      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
<script>
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });

    function addMsg(msg, msgClass) {
    var msgHolder, msg;
    msg = '<div style="display:none;" class="alert alert-dismissable ' + msgClass +
    '"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' + msg + '</div>';
    msgHolder = $('#msg-placeholder');
    msgHolder.html(msg);
    msgHolder.find('div.alert').fadeIn(300);
    }



    $(function() {
    $('#myModal').modal({ show: false});
    $('#products').on('click', 'button', function() {
    var body, cursorClass, productId;
    productId = $(this).attr('data-id');
    cursorClass = 'wait-cursor';
    body = $('body');
    body.addClass(cursorClass);
    $.ajax({
    url: {% url 'discount_form' %},
    type: 'GET',
    dataType: 'html'
    }).done(function(html) {
    var modalBody, form;
    modalBody = $('#modal-body');
    modalBody.html(html);
    form = $('#discount-form');
    form.find('#id_product_id').val(productId);
    form.find('#id_user_id').val('{{ user_id }}');
    body.removeClass(cursorClass);
    $('#myModal').modal('show');
    }).fail(function() {
    body.removeClass(cursorClass);
    addMsg('Server error. Please try again.', 'alert-danger');
    });
    });

    $('#myModal').on('click', '#discount-submit', function(e) {
    e.preventDefault();
    var data, body, cursorClass, modalBody;
    cursorClass = 'wait-cursor';
    body = $('body');
    body.addClass(cursorClass);
    modalBody = $('#modal-body');
    data = $('#discount-form').serialize();
    $.ajax({
    url: {% url 'get_discount_code' %},
    type: 'POST',
    data: data,
    dataType: 'html'
    }).done(function(html) {
    body.removeClass(cursorClass);
    modalBody.html(html);
    }).fail(function() {
    $('#myModal').modal('hide');
    body.removeClass(cursorClass);
    addMsg('Server error. Please try again.', 'alert-danger');
    });


    });
    <!--$('#discount-form').submit(function(e) {-->
    <!--e.preventDefault(e);-->
    <!--});-->

    });
</script>

{% endblock %}