{% extends 'main/base_template.html' %}
{% load staticfiles %}
{% block title %}Test Shop | Discount Codes{% endblock %}

{% block body %}
{% url 'discount_codes' as url %}
<!--<div class="row">-->
    <!--<div id="msg-placeholder" class="col-sm-12">-->

    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-sm-10">
{% include 'main/search_form.html' with form=search_form %}
    </div>
    <div class="col-sm-2">
        {% include 'main/order_dropdown.html' with order1='Product Name' order2='Code expires date' order3='Discount Percents' %}
    </div>
</div>
<!--<div id="products">-->
{% for c in codes_list %}
{% with counter=forloop.counter0 %}
{% if forloop.first %}
<div class="row">
{% elif counter|divisibleby:4 %}
</div>
<div class="row">
    {% endif %}

    <div class="col-sm-3">
        <div class="panel panel-default">
  <div class="panel-body">
      <div class="row">
          <div class="col-sm-12">
      <p class="text-center lead">{{ c.product.name }}</p>
        <p>{{ c.product.description|truncatechars:100 }}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-8">
              <p><strong>Discount Code:</strong></p>
          </div>
          <div class="col-sm-4">
          <p><span class="text-info lead">{{ c.code }}</span></p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-8">
              <p><strong>Discount Percents:</strong></p>
          </div>
          <div class="col-sm-4">
              <p class="lead">{{ c.discount_percents }}%</p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-8">
              <p><strong>Old Price:</strong></p>
      </div>
          <div class="col-sm-4">
              <p><s class="text-danger">{{ c.product.price }}$</s></p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-8">
              <p><strong>New Price:</strong></p>
          </div>
          <div class="col-sm-4">
              <p><span class="text-success">{{ c.calculate_price_after_discount }}$</span></p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-8">
              <p><strong>Code Expires:</strong></p>
          </div>
          <div class="cols-sm-4">
              <p>{{ c.expires }}</p>
          </div>
      </div>
  </div>
        </div>
    </div>
    {% if forloop.last %}
</div>
{% endif %}
{% endwith %}
{% empty %}
<div class="row">
    <div class="col-sm-12">
        <p class="text-center lead">There's no discount codes yet.</p>
    </div>
</div>
{% endfor %}
<!--</div>-->

{% include 'main/pagination.html' with page=page_obj %}


{% endblock %}