{% extends 'main/base_template.html' %}
{% block title %}Test Shop | Login{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
<div class="row justify-content-center top-margin-big">
    <div class="col-md-8 center-block no-float">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary btn-block" value="Login"/>
        </form>
    </div>
</div>
{% endblock %}