<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Order by
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        {% with current_page=page_obj.number %}
      <li><a href="{{ url }}?page={{ current_page }}&ordering=3">{{ order1 }}</a></li>
      <li><a href="{{ url }}?page={{ current_page }}&ordering=2">{{ order2 }}</a></li>
      <li><a href="{{ url }}?page={{ current_page }}&ordering=1">{{ order3 }}</a></li>
        {% endwith %}
    </ul>
</div>