<div class="row">
    <div class="col-sm-12 text-center">
<ul class="pagination">
    {% if page.has_previous %}
    <li><a href="{{ url }}?page={{ paginator.page_range.0 }}&ordering={{ ordering }}">&laquo;</a></li>
    {% with prev_page=page.previous_page_number %}
    <li><a href="{{ url }}?page={{ prev_page }}&ordering={{ ordering }}">{{ prev_page }}</a></li>
    {% endwith %}
    {% endif %}
    <li class="active"><a href="#">{{ page.number }}</a></li>
    {% if page.has_next %}
    {% with next_page=page.next_page_number %}
    <li><a href="{{ url }}?page={{ next_page }}&ordering={{ ordering }}">{{ next_page }}</a></li>
    {% endwith %}
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">5</a></li>-->
    <li><a href="{{ url }}?page={{ paginator.page_range|last }}&ordering={{ ordering }}">&raquo;</a></li>
    {% endif %}
</ul>
</div>
</div>
