<form class="margin-bot-small" action="" method="get">
    <div class="input-group">
    {{ form.query }}
        <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
    </div>
</form>